<div class="error-explanation">
  <h2><%= t('cho.work.error', count: pluralize(work.errors.count, 'error')) %></h2>

  <ul>
  <% work.error_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
