<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#"
                                      id="createSubmissionDropdown"
                                      role="button"
                                      data-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false">
    <%= t('cho.header_links.create_submission') %> <span class="caret"></span>
  </a>

  <div class="dropdown-menu" aria-labelledby="createSubmissionDropdown">
    <% Work::Type.all.each do |type| %>
      <%= link_to type.label, new_work_path(work_type_id: type.id), class: 'dropdown-item' %>
    <% end %>
  </div>
</li>
