<% if @work.work_type %>
  <h1><%= t('cho.work.new.heading', type: @work.work_type.label) %></h1>

  <%= render partial: 'form',  locals: { work_form: @work } %>

<% else %>

<p><%= t('cho.work.new.no_type') %></p>

<% end %>

<%= link_to t('cho.work.new.back_link'), works_path %>
