<div class="col-12 col-sm-6 col-lg-8">
  <h2 id="home-featured" class="bg-white p-1"><%= t('cho.home.featured') %></h2>
  <div class="row">
    <div class="col-12 col-lg-6">
      <figure class="home-figure text-center featured p-3">
        <%= image_tag('psupress1_4502_medium.jpg', class: 'img-fluid') %>
        <figcaption class="text-white">Penn State Press Collection</figcaption>
      </figure>
    </div>
    <div class="col-12 col-lg-6">
      <figure class="home-figure text-center featured p-3">
        <%= image_tag('wpamaps_2535_medium.jpg', class: 'img-fluid') %>
        <figcaption class="text-white">Bituminous Coal Mine Maps of Pennsylvania</figcaption>
      </figure>
    </div>
  </div>
</div>
