<tr>
  <td><%= dry_run_result.given_name %></td>
  <td><%= dry_run_result.surname %>
  <td>
    <% if dry_run_result.errors.present? %>
      <%= render 'csv/dry_run_error_list', errors: dry_run_result.errors.full_messages %>
    <% else %>
      Success
    <% end %>
  </td>
</tr>
