<h1>CSV Import</h1>

<%= form_for(@csv_file, url: csv_file_index_path) do |form| %>

  <%= form.hidden_field :file, value: @csv_file.cached_file_data %>
  <%= form.file_field :file %>

  <div class="actions">
    <%= form.submit t('cho.csv.dry_run.submit') %>
  </div>
<% end %>
