<footer class="footer bg-dark">
  <a href="/" class="footer-logo"><%= t('cho.footer.logo') %></a>
  <p class="footer-service"><%= t('cho.footer.service') %></p>
  <% if Git.revision %>
    <p><%= t('cho.footer.revision') %> <%= link_to Git.revision, "https://github.com/psu-libraries/cho/commit/#{Git.revision}" %></p>
  <% end %>
</footer>
