<footer class="footer bg-dark">
  <a href="/" class="footer-logo">Cultural Heritage Objects</a>
  <p class="footer-service">A service of the University Libraries</p>
  <% if Git.revision %>
    <p>Current Revision: <%= link_to Git.revision, "https://github.com/psu-libraries/cho/commit/#{Git.revision}" %></p>
  <% end %>
</footer>
