<%- resource.input_fields(form).each do |input| %>
  <%= input.label do %>
    <%= input.display_label %>
    <% if input.required? %>
      <span class="required no-bold"> required</span>
    <% end %>
  <% end %>

  <%= input.field %>
<%- end %>
