<%- resource.input_fields(form).each do |input_field| %>
  <%= form.label input_field.label do %>
    <%= input_field.display_label %>
    <% if input_field.required? %>
      <span class="required no-bold"> required</span>
    <% end %>
  <% end %>

  <%= render "/shared/input_partials/#{input_field.partial}", field: input_field, form: form %>
<%- end %>
