<h1>Pages#HelloReact</h1>
<%= javascript_pack_tag 'list_box' %>

<div id="list_box">
  <ul>
    <li>Ice Cream</li>
    <li>Pie</li>
    <li>Candy</li>
    <li>Cake</li>
    <li>Egg Nog</li>
  </ul>

</div>
