<div class="collection-heading">
  <div class="rep-image">
    <%= image_tag collection_representative_image_path(document) %>
  </div>
  <div class="header-buttons">
    <%= render_document_heading(document, tag: :h1) %>
    <div class="just-buttons">
      <%= link_to t('cho.collection.heading.browse'), search_archival_collection_resources_path(params[:id]), class: 'btn search-btn' %>
      <%= link_to t('cho.collection.heading.finding_aid'), root_path, class: 'text-white' %>
    </div>
  </div>
</div>
