<%# Do the two column thing here %>
<p>Fileset | Part of: <%= link_to @document.work_title, solr_document_path(@document.work) %></p>
<%= render partial: 'show', locals: { document: @document } %>

<%# write method to grab the files from the file set %>
<% unless @document.files.empty? %>
  <h2>Files</h2>
  <ul>
    <%- @document.files.each do |file| %>
      <li>
        <%= file.original_filename %>
        <%= link_to 'Download',
                    download_path(@document.id, use_type: file.use.first.fragment),
                    data: { turbolinks: false } %>
      </li>
    <%- end %>
  </ul>
<% end %>
