@import 'bootstrap';

@import 'blacklight/blacklight';

.navbar-brand {
  background: none;
  overflow: visible;
  text-indent: .25%;
  width: auto;
}

.navbar-collapse { font-size: .9rem; }

// styles to address inconsistent usage of search widgets
// scss-lint:disable SelectorFormat
.catalog_startOverLink:hover,
.search-widgets .btn:hover { color: $primary-white; }
// scss-lint:enable SelectorFormat

// addresses insufficient color contrast
.dl-invert dt { color: $gray-middle; }

// Button visited link color
.btn-danger:visited,
.btn-primary:visited { color: $primary-white; }

// Button background color
.btn-primary { background-color: $btn-primary-color; }

// Adds the colored focus around the Bootstrap dropdown
.dropdown-toggle:focus {
  border-color: $blue-light;
  box-shadow: inset 0 1px 1px $focus-shadow-color-inset, $focus-shadow-color;
  outline: 2px;
  outline: -webkit-focus-ring-color auto 5px;
}

// Adds a skip to content link for keyboard users, but only makes it visible when element receives focus
.skip a {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.skip a:focus {
  height: auto;
  position: static;
  width: auto;
}
