// Place all the styles related to the Collection Form here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 { margin-bottom: 2rem; }
fieldset { margin-bottom: 3rem; }
legend { border: 0; }
input { margin-bottom: 1rem; }

.twitter-typeahead input { margin-bottom: 0; } // Fixes site-wide input styling until forms are reworked

.no-bold { font-weight: normal; }

.required {
  color: $required-red;
  vertical-align: super;
}

label {
  display: block;
}

// Overrides the block labels in the forms because they are generated inputs from the Data Dictionary.
// They are hard to style using Bootstrap and override because they are not standard Rails or HTML.
// This is a work around.
.select-resources label { display: inline; }
