.banner {
  background: $psul-dark-blue asset-url('header_bg.jpg') no-repeat;
  padding: 1rem;
}

.psul { padding-right: 2rem; }

.cho-banner {
  font-family: serifa, serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .075rem;
}

.cho-banner:link,
.cho-banner:visited { color: $primary-white; }

.bg-cho { background-color: $psul-light-blue; }

.banner .nav-link:hover,
.bg-cho .dropdown-item:hover {
  background-color: $psul-dark-blue;
  color: $primary-white;
}

// scss-lint:disable MergeableSelector
.banner .nav-link:hover .badge.badge-secondary {
  background-color: $blue-light;
  color: $psul-dark-blue;
}
// scss-lint:enable MergeableSelector

.banner .nav-link,
.bg-cho .dropdown-item {
  color: $psul-dark-blue;
}

// scss-lint:disable SelectorFormat
.index_title a,
.document a,
.mt-4 a {
  text-decoration: underline;
}
// scss-lint:enable SelectorFormat
