body {
  background-color: $primary-white;
  color: $body-text-color;
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: $primary-white;
  font-size: 11px;
  padding: 10px;
}

a {
  color: $primary-black;

  &:visited {
    color: $gray-middle;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

.notice {
  color: $green-notice;
}

.error-explanation {
  background-color: $primary-white;
  border: 2px solid $required-red;
  margin-bottom: 20px;
  padding: 7px 7px 0;
  width: 450px;

  h2 {
    background-color: $required-red;
    color: $primary-white;
    font-size: 12px;
    font-weight: bold;
    margin: -7px -7px 0;
    padding: 5px 5px 5px 15px;
    text-align: left;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
