// Color variables to be used throughout CHO

$primary-white: #fff;
$gray-middle: #686868;
$primary-black: #000;

$required-red: #d33a35;
$green-notice: #008000;
$green-bg-text: #1d7631;
$blue-light: #66afe9;

$btn-primary-color: #006cdf;

$body-text-color: #333;

// Header
$header-black: #222;

// Browser focus ring for elements that require keyboard focus
$focus-shadow-color: rgba(102, 175, 233, .6);
$focus-shadow-color-inset: rgba(0, 0, 0, .075);
