<h1><%= t('cho.curated_collection.edit.heading') %></h1>

<%= render 'collection/base/form', collection: @collection %>
<%= render 'shared/form_delete', resource: @collection %>
<%= link_to t('cho.curated_collection.edit.show'), polymorphic_path([:solr_document], id: @collection.id), method: 'get', class: 'btn btn-link' %>
