@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';

#header-navbar .navbar-brand {
  color: #fff;
  background: none;
  text-indent: 2%;
  width: 500px;
}

// styles to address inconsistent usage of search widgets
.catalog_startOverLink:hover,
.search-widgets .btn:hover { color: #FFF; }

// addresses insufficient color contrast
.dl-invert dt { color: #686868; }

// Button visited link color
.btn-danger:visited { color: #FFF; }

// Adds the colored focus around the Bootstrap dropdown
.dropdown-toggle:focus {
  border-color: #66aFe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  outline: 2px;
  outline: -webkit-focus-ring-color auto 5px;
}

// Adds a skip to content link for keyboard users, but only makes it visible when element receives focus
.skip a
{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip a:focus
{
  position:static;
  width:auto;
  height:auto;
}
