<div id="error_explanation">
  <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

  <ul>
  <% work.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
