<div>
  <ul class="nav">
    <% if can? current_user, :manage %>
      <%= render '/manage' %>
      <%= render '/collection/nav' %>
      <%= render '/work/submissions/nav' %>
    <% end %>
  </ul>
</div>
